<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-3">
        <div id="about" class="content">
          <strong>Szekely Coachings</strong> par <a href="https://www.linkedin.com/in/claireszekely/" target="_blank" rel="cc:attributionURL">Claire Szekely</a>.
        </div>
      </div>
      <div class="column is-5">
        <ul>
          <li>
            <a href="/">
              Accueil
            </a>
          </li>
          <li>
            <a href="/#temoignage">
              Témoignages
            </a>
          </li>
          <li>
            <a href="/mentions">
              Mentions légales
            </a>
          </li>
          <li>
            <a href="/contact.html">
              Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="column is-4">
        <ul>
          <li>
            <a href="/">
              Français
            </a>
          </li>
          <li>
            <a href="/en/index.html">
              English
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>