<nav class="navbar is-white">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="./images/logo.svg" alt="Szekely coaching: coaching vocal et prise de parole" width="112" height="28">
    </a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Accueil
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="javascript:void()">
          Coachings vocal
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/coaching-individuel.html">
            Individuel
          </a>
          <a class="navbar-item" href="/coaching-equipe.html">
            D'équipe
          </a>
        </div>
      </div>
      <a class="navbar-item" href="/interventions.html">
        Coachings "last minute"
      </a>
      {#<a class="navbar-item" href="/">
        Qui suis-je ?
      </a>#}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" target="_blank" href="https://www.linkedin.com/in/claireszekely/">
              <span class="icon">
                <i class="fa fa-linkedin"></i>
              </span>
              <span>
                LinkedIn
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="/contact.html">
              <span class="icon">
                <i class="fa fa-envelope"></i>
              </span>
              <span>Me contacter</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
