{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-large">
  <div class="hero-body">
    <img src="/images/hero-solo.jpg" alt="coaching individuel">
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Coachings vocal individuel
        </h1>
        <p class="subtitle">
          Préparez en privé vos interventions publiques
        </p>
      </div>
    </div>
  </div>
</section>
    <section class="hero is-white is-medium">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                    Un coaching personnalisé
                </h1>
                {#<h2 class="subtitle">
                    Les objectifs, la voix et la gestuelle.
                </h2>#}
            </div>
        </div>
    </section>
    <section class="section section_background">
        <img src="images/hero-solo-2.jpg" alt="coaching en groupe avec presentation">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <h2>

                            Qui vous accompagne dans :
                        </h2>
                        <p>
                            La clarification des enjeux
                            Le renforcement de la confiance
                            L’affirmation de votre parole
                            La gestion du Trac
                        </p>
                        <a class="button" href="/contact.html">Me contacter</a>
                    </div>
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </section>
{% endblock %}
