{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-large">
  <div class="hero-body uk-cover-container">
    <img uk-cover src="/images/hero-team.jpg" alt="coaching d'équipe">
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Coachings vocal d'équipe
        </h1>
        <p class="subtitle">
          Donnez du souffle à vos équipes
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Une synergie voix-coaching
au service de la cohésion d’équipe
      </h1>
      {# <h2 class="subtitle">
        les objectifs, la voix et la gestuelle
      </h2> #}
    </div>
  </div>
</section>
{% endblock %}
