{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-large">
  <div class="hero-body">
    <img src="/images/hero-solo.jpg" alt="coaching individuel">
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Coachings vocal individuel
        </h1>
        <p class="subtitle">
          Préparez en privé vos interventions publiques
        </p>
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Un coaching personnalisé
Qui vous accompagne dans :
      </h1>
      <h2 class="subtitle">
        La clarification des enjeux
Le renforcement de la confiance
L’affirmation de votre parole
La gestion du Trac
      </h2>
    </div>
  </div>
</section>
{% endblock %}
