{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-large">
  <div class="hero-body">
    <img src="http://theleagueam.com/wp-content/uploads/2017/06/Coaching.jpg" alt="hero background">
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Coaching en équipe
        </h1>
        {# <p class="subtitle">
          De la peur au plaisir de s'exprimer à l'<strong>oral</strong>!
        </p> #}
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Travail sur le sens et les objectifs
      </h1>
      {# <h2 class="subtitle">
        les objectifs, la voix et la gestuelle
      </h2> #}
    </div>
  </div>
</section>
{% endblock %}
