{% extends "partials/layout/_landing.njk" %}

{% block content %}
<div class="section">
<div class="container">
  <form METHOD=POST ENCTYPE="text/plain" action="mailto:claire@szekelycoachings.com" class="columns">
  <div class="column is-6">
    <div class="content">
      <h1>Prendre rendez-vous</h1>
      <p>N'hesitez pas à prendre rendez-vous avec moi pour des renseignements complementaires</p>
    </div>
    <div class="field">
  <label for="name" class="label">Nom prénom</label>
  <div class="control">
    <input id="name" class="input" type="text" name="nom_prenom" placeholder="Nom Prénom" required>
  </div>
</div>

<div class="field">
  <label for="email" class="label">Email</label>
  <div class="control has-icons-left">
    <input id="email" class="input" type="email" name="email" placeholder="email@domain.be" required>
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
  </div>
  {#<p class="help is-danger">Cette adresse email n'est pas valide</p>#}
</div>


<div class="field">
  <label for="text" class="label">Message</label>
  <div class="control">
    <textarea id="text" class="textarea" name="message" placeholder="Votre message" required></textarea>
  </div>
</div>

<div class="field">
  <div class="control">
    <button type="submit" class="button is-link">Envoyer mon message</button>
  </div>
</div>

  </div>
  <div class="column is-4 is-offset-2">
    <div class="content">
      <h2>
        Lieux d'interventions réguliers
      </h2>
      <h3>
        Lyon
      </h3>
        <p>
            69006 LYON
        </p>
      <h3>
        Paris
      </h3>
        <p>
            35 Rue Saint Roch - 75001 PARIS
        </p>
    </div>
  </div>
 </form>
  <hr>
  <div class="column">
      <h2 class="title is-6">
          Mentions légales
      </h2>
      <p>
          Székely Coachings, SASU au capital de 5000 euros. <br>
          SIRET 827 720 020 00029 R.C.S. Lyon<br>
          38, Rue de Normandie - 69330 MEYZIEU <br>
          Tél 06 09 86 77 49
      </p>
  </div>
</div>
  </div>
{% endblock %}
