{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-light is-bold is-large">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Coaching vocal et prise de parole
      </h1>
      <p class="subtitle">
        De la peur au plaisir de s'exprimer à l'<strong>oral</strong>!
      </p>
    </div>
  </div>
</section>
{% endblock %}