{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-fullheight">
  <div class="hero-body">
    <img src="images/hero-main.jpg" alt="Coaching vocal">  
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Coaching vocal et prise de parole
        </h1>
        <p class="subtitle">
          De la peur au plaisir de s'exprimer à l'<strong>oral</strong>!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section section_background">
  <img src="images/main-1.jpg" alt="Coaching en groupe">  
  <div class="container">
    <div class="columns">
      
      <div class="column">
        <div class="content">
        <h2>
          Des séances <strong>sur mesure</strong> pour développer <strong>confiance</strong> et <strong>aisance</strong> dans vos <strong>prises de parole</strong>
        </h2>
        <p>A partir d'une écoute, en situation réelle ou en rendez-vous individuel, Claire Szekely vous fait votre diagnostic "Prise de Parole"</p>
            <a class="button" href="">Prendre rendez-vous</a>
          </div>
      </div>
      <div class="column">
        {# offset column #}
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Une méthode qui associe un travail sur le sens,
      </h1>
      <h2 class="subtitle">
        les objectifs, la voix et la gestuelle
      </h2>
    </div>
  </div>
</section>
<section class="section section_background">
  <img src="images/main-2.jpg" alt="coaching en groupe avec presentation">
  <div class="container">
    <div class="columns">
    <div class="column">
        {# offset columns #}
      </div>
      <div class="column">
        <div class="content">
          <h2>
            Un coaching <strong>personnalisé</strong> pour <strong>réussir</strong> pleinement vos interventions en public
          </h2>
            <a class="button" href="">Mon coaching personalisé</a>
        </div>
      </div>
      
    </div>
  </div>
</section>
<section class="section" id="temoignage">
  <div class="container">
    <h2 class="title">Témoignages</h2>
    <div class="columns is-multiline">
      <div class="column is-half">
          <div class="card">
              <div class="card-content">
                  <p class="">
                      J’avais des problèmes pour m&#39;exprimer en public et aujourd&#39;hui, je me
                      surprends régulièrement à donner vos conseils à mes salariés. Avec le
                      collaborateur qui m&#39;a accompagné chez vous lors de notre deuxième
                      séance, il nous arrive de nous remémorer vos conseils. En tant que
                      dirigeante, ça m&#39;est plus facile de lui demander son retour en faisant
                      référence à vous.
                      Que dire d&#39;autre si ce n&#39;est que votre approche est surprenante, à la fois
                      rafraîchissante, positive et bien adaptée à la situation. Très vite je me suis
                      sentie bien préparée pour chacune des prises de paroles que nous avions
                      préparée ensemble. Et ça perdure.
                      Depuis, je me suis rendue compte que nombre de femmes entrepreneur
                      n&#39;osent pas dire qu&#39;elles ont des problèmes pour s&#39;exprimer en public. Je
                      leur recommande vraiment de travailler avec vous.
                  </p>
                  <p class="subtitle">
                      Une jeune femme ( la trentaine ) créatrice d’une start –up
                  </p>
              </div>
          </div>
      </div>
      <div class="column is-half">
          <div class="card">
              <div class="card-content">
                  <p class="">
                      En tant que journaliste de presse écrite, spécialisé dans la finance, je n&#39;utilisais pas beaucoup ma voix
                      et lorsque mon patron m&#39;a demandé d&#39;animer des conférences, je me suis trouvé en difficulté avec
                      l&#39;expression orale : ma voix ne passait pas. C&#39;est un vrai travail de technique vocale que j&#39;ai fait avec
                      vous et qui a tellement bien porté ses fruits, qu&#39;aujourd&#39;hui je travaille essentiellement à l&#39;oral:
                      formations, conférences. C&#39;est une réalisation professionnelle et personnelle.
                  </p>
                  <p class="subtitle">
                      Un journaliste-45 ans
                  </p>
              </div>
          </div>

      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-content">
            <p class="">
                Je suis venue chez vous par recommandation d&#39;une amie qui avait travaillé avec vous.
                J&#39;avais souvent du mal à m&#39;exprimer à l&#39;oral sans qua la voix tremble. Je me suis rapidement sentie en
                confiance avec votre démarche car je voyais que vous saviez exactement quel exercice me proposer
                dans votre accompagnement à la prise de parole. J&#39;étais plongée dans l&#39;expérience et ma voix ne
                tremblait plus. C&#39;était jubilatoire de sentir cette liberté de parole.
                Aujourd&#39;hui, je suis rassurée lorsque je dois défendre un dossier sensible devant des experts et des
                décideurs, ma voix ne tremble plus et je peux me concentrer sur les enjeux. Plus j&#39;avance dans ma
                carrière, plus les enjeux sont importants et plus je suis attendue dans ma communication à l&#39;oral.
                C&#39;est un plaisir de prendre la parole en maîtrisant ma voix et mes émotions.
            </p>
            <p class="subtitle">
                Une femme directeur financier d’un gros groupe  45 ans:
            </p>
          </div>
        </div>
      </div>
      <div class="column is-full has-text-centered">
        <a href="/contact.html" class="button is-primary">Prendre rendez-vous</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
