{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="section section_background uk-cover-container">
  <img uk-cover src="/images/office-clock.jpg" alt="office">
  <div class="container">
    <div class="columns">

      <div class="column">
        <div class="content">
        <h2>
          Coachings "last minute"
        </h2>
        <p>Une intervention de dernière minute <br>
            Des contraintes de temps
        </p>
            <a class="button" href="">Prendre rendez-vous</a>
          </div>
      </div>
      <div class="column">
        {# offset column #}
      </div>
    </div>
  </div>
</section>
<section class="hero is-white is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
          Une échéance importante qui vous laisse sans voix<br>
          Besoin d’un coach vocal en urgence
      </h1>
      {# <h2 class="subtitle">
        les objectifs, la voix et la gestuelle
      </h2> #}
    </div>
  </div>
</section>
<section class="section section_background uk-cover-container">
  <img uk-cover src="/images/suit.jpg" alt="">
  <div class="container">
    <div class="columns">
    <div class="column">
        {# offset columns #}
      </div>
      <div class="column">
        <div class="content">
          <h2>
              Je prends du temps pour vous,
          </h2>
          <p>
          Pour ajuster la forme de votre prise de parole :
          <strong>Et faire de votre voix un atout en toutes circonstances<strong>
          </p>
          <a class="button" href="">Me contacter</a>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
