{% extends "partials/layout/_main.njk" %}

{% block content %}
<section class="hero is-bold is-large">
  <div class="hero-body uk-cover-container">
    <img uk-cover src="/images/Claire_Szekely.jpg" alt="Claire Szekely">
    <div class="container">
      <div class="hero-block">
        <h1 class="title">
          Claire Szekely
        </h1>
        <p class="subtitle">
          Mon parcours
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section">
    <div class="container has-text-centered">
      <h2 class="title">
        2017
      </h2>
      <h3 class="subtitle">
        Crée la société « Székely Coachings » à Lyon<br /> 
Coaching vocal et coachings d’accompagnement professionnel<br />
Membre de l'EMCC (European Mentoring and Coaching Council)
      </h3>
      <br /> 
      <h2 class="title">
        2010 à 2016
      </h2>
      <h3 class="subtitle">
        Professeur de chant lyrique et coach à Paris
      </h3>
      <br /> 
      <h2 class="title">
        2001 à 2009
      </h2>
      <h3 class="subtitle">
        Fondatrice et formatrice de la société « Question(s) de Voix » Paris<br /> 
Chant, technique vocale et développement personnel
      </h3>
      <br /> 
      <h2 class="title">
        1989 à 2001
      </h2>
      <h3 class="subtitle">
        Co-fondatrice et formatrice de la société « Analyser, construire, Harmoniser par la Voix » Tournai (Belgique)<br /> 
Développement personnel par la voix
      </h3>
      <br /> 
      <h2 class="title">
        Diplômes principaux :
      </h2>
      <h3 class="subtitle">
        2014 Coach diplômé de l’UCO (Université Catholique de l’Ouest)<br /> 
2003 Médaille d’argent de chant lyrique conservatoire de Roubaix<br /> 
1983 Comédienne diplômée de l’école du TNS (Théâtre National de Strasbourg)<br /> 
1980 Prix de diction et d’art dramatique conservatoire de Roubaix
      </h3>
    </div>
</section>
<section class="section">
  <div class="container">
      <div class="column is-full has-text-centered">
      <h3 class="title">En savoir plus</h3>
        <a target="_blank" href="/documents/claire_szekely.pdf" class="button is-primary">Télécharger mon parcours complet</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
